@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
body {
  margin: 0;
  background-color: #222222;
  font-family: 'Oswald', sans-serif;;
}
header{
  background-color: transparent;
  position: absolute;
  color: #fff;
  font-size: 1.6em;
  margin-left: 80px;
  letter-spacing: 20px;
}
.videoBackground{
  width: 100%;
}
.main-window{
  width: 100%;
}
.main-card{
  width: 90%;
  height: 500px;
  position: absolute;
  display: flex;
  z-index: +5;
  background-color: #764BA2;
  margin-top: 28%;
  margin-left: 5%;
  border-radius: 16px 16px 0px 0px;
}
.container{
  margin-left: 80px;
  margin-top: 40px;
  width: 70%;
}
input{
  display: block;
  margin-top: 14px;
  border-radius: 4px;
  height: 24px;
}
label{
  font-size: 1.4em;
  color: #fff;
}
.suggestions{
  margin-top: 6%;
  display: flex;
}
.card-suggestion{
  width: 25%;
  height: 200px;
  border-radius: 6px;
  margin: 4px;
  cursor: pointer;
  color: #764BA2;
  background: #2E2E2E;
}
button{
  padding: 4px 12px;
  margin-top: 14px;
  font-size: 1.4em;
  background-color: #667EEA;
  color: #2E2E2E;
  cursor: pointer;
  border-radius: 4px;
  border: 0px solid transparent;
}
.status{
  height: 500px;
  background-color: tomato;
  position: relative;
  width: 19%;
}