@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
body {
  margin: 0;
  background-color: #222222;
  font-family: 'Oswald', sans-serif;;
}
header{
  background-color: transparent;
  position: absolute;
  color: #fff;
  font-size: 1.6em;
  margin-left: 80px;
  letter-spacing: 20px;
}
.videoBackground{
  width: 100%;
}
.main-window{
  width: 100%;
}
.main-card{
  width: 90%;
  height: 600px;
  position: absolute;
  display: flex;
  z-index: +5;
  background-color: #764BA2;
  margin-top: 28%;
  margin-left: 5%;
  border-radius: 16px 16px 0px 0px;
}
.container{
  margin-left: 80px;
  margin-top: 40px;
  width: 70%;
}
input{
  display: block;
  margin-top: 14px;
  border-radius: 4px;
  height: 24px;
}
label{
  font-size: 1.4em;
  color: #fff;
}
.suggestions{
  margin-top: 2%;
  display: flex;
}
.card-suggestion{
  width: 25%;
  height: 200px;
  border-radius: 6px;
  margin: 8px;
  padding: 4px;
  cursor: pointer;
  color: #fff;
  background: #2E2E2E;
  text-align: center;
}
.card-suggestion:hover{
  transition: 1.1s ease-out;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0, 0.2);
}
button{
  padding: 8px 22px;
  margin-top: 14px;
  font-size: 1.4em;
  background-color: #667EEA;
  color: #2E2E2E;
  cursor: pointer;
  border-radius: 4px;
  border: 0px solid transparent;
}
.status{
  height: 500px;
  background-color: tomato;
  position: relative;
  width: 19%;
}
/* .modal{
  width: 500px;
  background: tomato;
  border: 1px solid #fff;
  transition: 1.1s ease-out;
  box-shadow: -2rem 2rem 2rem rgba(0,0,0, 0.2);
  filter: blur(0);
  transform: scale(1);
  opacity: 1;
  visibility: visible;
} */
.hr-width{
  width: 80%;
}
.from-country{
  margin-top: 24px;
}
.card-selected{
  border: 2px solid #fff;
}
.seat{
  width: 40px;
  height: 40px;
  z-index: +1;
  border: 2px solid #fff;
  margin: 6px;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
}
.seta-selected{
  background-color: blue;
}
.seatbench{
  display: flex;
}
.vehicle{
  width: 24%;
  cursor: pointer;
}
.vehicle-selected{
  border: 2px solid #333;
}
.planet{
  width: 24%;
  cursor: pointer;
}
.select-planet{
  border: 2px solid #333;
}
.newticket{
  border-radius: 50%;
  height: 52px;
  width: 52px;
  background-color: tomato;
  color: white;
  font-size: 2em;
  position: absolute;
  margin-left: 93%;
  margin-top: 26%;
  z-index: +20;
  cursor: pointer;
  text-align: center;
}
.newticket:hover{
  transition: 1.1s ease-out;
  box-shadow: -2rem 2rem 2rem rgba(0,0,0, 0.2);
  filter: blur(0);
  transform: scale(1);
}
span{
  display: block;
}
.suggest{
  margin-top: 12px;
  margin-bottom: 12px;
  color: #f1f1f1;
}
.name{
  margin-left: 23%;
  margin-top: 11%;
  position: absolute;
  font-size: 2em;
}
.starting-location{
  position: absolute;
  margin-top: 18%;
  margin-left: 23%;
}
.vehicle-po{
  position: absolute;
  margin-top: 22%;
  margin-left: 35%;
}
.endinglocation{
  position: absolute;
  margin-top: 18%;
  margin-left: 34%;
}
.seatNo{
  position: absolute;
margin-left: 53%;
margin-top: 18%;
}